<%- include('../partials/nav') %>

<h3>ALL MY TRIPS</h3>

<div class="conatiner-md">
    <div class="row justify-content-between">
        <article class="col-5 border border-dark">
            <%= trip.departure %>
            <%= trip.destination %>
            <%= trip.duration %>
            <%= trip.essentials %>

            <% if (trip.owner?._id.equals(user?._id)) { %>
                <div class="container">
                    <a href="/trips/edit/<%=trip.id%>" class="btn btn-info">
                        Edit <%= trip.destination %>
                        
                    </a>
                    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger m-3" value="Delete <%= trip.destination %>">
                    </form>
                </div>

                <% }%>
        </article>
    </div>
    <hr>
    <% if (user) { %>
        <div class="col-md-6">
            <form action="/stops/<%=trip.id%>" method="POST">
                <fieldset>
                    <legend> ADD A STOP</legend>
                    <label class="form-label">STOP</label>
                    <input class="form-control mb-1"
                    type="text" name="food">
                    <input type="submit" class="btn btn-success">
                </fieldset>

            </form>
        </div>

        <% }%>
</div>
<div class="container-md">
    <% if (trip.stops.length) { %>
        <div class="container-sm">
            <% trip.stops.forEach(stop => { %>
                <div class="car mb-4 shadow">
                    <div class="card-body">
                        <p> <%= stop.food %> </p>
                        <div class="d-flex justify-content-between">
                            <small>
                                author: <%= stop.author.name %> </small>
                                <% if(user && stop.author?._id == user.id) { %>
                                <form action="/stops/<%= trip._id%>/<%= stop._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="x">
                                
                                <% } %>

                           
                        </div>

                    </div>
                </div>
                <% }) %>
        </div>

    <% } else { %>

        <p3>no stops added</p3>

    <% } %>
</div>




<%- include('../partials/footer') %>


